<!doctype html>
<html lang="en">

<head>
  <title>RSA Project 2223</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <!-- api mapbox -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />

  <!-- api jquery map -->
  <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>


    <div class="container-fluid">
      <div class="row">
        <!-- Right column content here -->
        <div class="col-2">
          <h5>Status:</h5>
          <div id="simulation-status">
            <i>The Simulation is not running.</i><br><br>
          </div>

          <div id="raw-drone-data">
            <h3>Drone Data:</h3>
            <h6>No data available</h6>
          </div>

          <h5>Progress:</h5>
          <div class="progress" id="simulation-progress">
            <div class="progress-bar" style="width: 0%" role="progressbar" aria-valuenow="100" aria-valuemin="0"
              aria-valuemax="100">0%</div>
          </div><br>
          <div>
            <button class="btn btn-primary btn-md me-4 m-4 px-4" id="start-button">Start</button>
            <button class="btn btn-danger btn-md me-4 m-4 px-4" id="stop-button">Stop</button>
          </div>
        </div>
        <!-- Left column content here -->
        <div class="col-10">
          <div id="map" class="justify-content-center" style='width: 100%; height: 800px;'></div> <br>
          <h4>RSA Project - Autonomous Drone Collision Avoidance System</h4>

          <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="sim-file-list">
          </select>
        </div>



  </main>
  <footer>
    <script src="static/map.js"></script>
    </script>
    <script>
      var rsuIcon = L.icon({
        iconUrl: "static/antenna.png",
        iconSize: [16, 16],
        iconAnchor: [18, 39],
        popupAnchor: [10, -35]

      });

    </script>


    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>

</html>